body {
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: center;
}

#input-group {
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#input-group input[type="text"] {
  width: 80%;
}

.page {
  width: 90%;
  height: 80vh;
  outline: #282828 1px solid;
  background-color: #2e2e2e;
  padding: 10px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

.paragraph {
  margin: 10px;
  outline: wheat 1px solid;
  padding: 10px;
  border-radius: 6px;
}

.user-paragraph {
  margin: 10px;
  color: rgb(7, 255, 7);
  text-align: right;
  background-color: #484848;
}
